<div id=con-menu class='gf-magnetic'>
  <div id=con-roll>
  <div class=menu-bar></div>
  <div class=menu-bar></div>
  <div class=menu-bar></div>
  </div>
</div>

<div id="con-buttons">
    <div id="con-close"><svg viewBox="0 0 699 678" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.9336 666L680.21 12.6523" stroke="black" stroke-width="24" stroke-linecap="round"/>
<path d="M18.9468 12.6523L686.223 666" stroke="black" stroke-width="24" stroke-linecap="round"/>
</svg></div>
    <a href=index.html><span>Home</span></a>
    <a class="right" href=services.html><span>work</span></a>
    <a href=about.html><span>bio</span></a>
    <a class="right" href=contact.html><span>Contact</span></a>
</div>
